.container{
    width: 100vw !important;
    min-height: 100vh !important;
    background:  url(../public/assets/svg/background-v1.svg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

.form{
    /* width: 500px; */
    min-height: 100%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px var(--dark-blue);
    background-color: var(--white-color); 
}


@media (max-width: 767.98px) {

    .container{
        font-size: 15px;
    }

    .form{
        width: 100%;
    }

}